node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.nx/
nx-report.html
dist/
build/
out/
.tmp/
.vite/
.vite-cache/
.next/
.env
.env.*
!.env.example
.vercel/
logs/
*.log
coverage/
*.lcov
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.cache/
.eslintcache
